version: "3.9"

services:
  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./php/src:/var/www/html
    depends_on:
      - php
    networks:
        - pg-network

  php:
    build: ./php
    container_name: php
    volumes:
      - ./php/src:/var/www/html
      - ./php/src/config/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    depends_on:
      - postgres
    networks:
        - pg-network

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5433:5432"
    networks:
      - pg-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pg-admin2
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
    - "5050:80"
    networks:
    - pg-network

networks:
  pg-network:

volumes:
  postgres_data:

