:root {
    --color-text: #f8f7fa;
    --color-text-light: #e5e7eb;
    --color-background: #191022;

    --color-primary: #7f13ec;
    --color-primary-hover: rgba(127, 19, 236, 0.9);
    --color-secondary: rgb(48, 38, 30);
    --color-secondary-hover: rgba(48, 38, 30, 0.9);
    --color-danger: rgb(112, 26, 117);
    --color-danger-hover: rgb(112, 26, 117, 0.9);

    --color-border: rgb(68, 61, 55);

    --font-text: Epilogue;
}

*{
    font-family: var(--font-text);
    color: var(--color-text);
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--color-background);
    display: flex;
    flex-flow: column;
    align-items: center;
}

#navbar{
    border-bottom: 0.1rem solid var(--color-border);
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

#nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#nav-links a{
    color: var(--color-text);
    text-decoration: none;
}

.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.flex{
    display: flex;
}

.flow-col{
    flex-flow: column;
}

.flow-row{
    flex-flow: row;
}

.wrap{
    flex-wrap: wrap;
}

.full-center{
    justify-content: center;
    align-items: center;
}

a {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input, textarea{
    background-color: var(--color-background);
    margin: 0.5rem 0 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.bold{
    font-weight: bold;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 2rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem 0 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
    font-weight: bold;
}

.primary{
    background-color: var(--color-primary);
}
.primary:hover{
    background-color: var(--color-primary-hover);
}

.secondary{
    background-color: var(--color-secondary);
}
.secondary:hover{
    background-color: var(--color-secondary-hover);
}

.danger{
    background-color: var(--color-danger);
}
.danger:hover{
    background-color: var(--color-danger-hover);
}

.empty{
    background-color: rgba(0,0,0,0);
    border: 0.25rem dashed var(--color-border);
    border-radius: 0.25rem;
}
.empty:hover{
    border: 0.25rem dashed var(--color-primary);
}
.empty:hover, .empty:hover *{
    color: var(--color-primary);
}

.rounded{
    border-radius: 0.25rem;
}

.border-thin{
    border: 0.1rem solid var(--color-border);
}

.border-dashed{
    border: 0.25rem dashed var(--color-border);
}

.app-name{
    color: var(--color-text);
    font-weight: 1000;
    width: 10rem;
    word-wrap: break-word;
    line-height: 2rem;
    margin: 0 1rem;
}

.colored-markers{
    padding: 0;
    list-style: none;
    counter-reset: colored-markers-counter;
}

.colored-markers li{
    counter-increment: colored-markers-counter;
    display: flex;
    align-items: center;
}

.colored-markers li::before{
    content: counter(colored-markers-counter);
    background: var(--color-primary);
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    display: flex;
    line-height: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    margin-right: 2rem;
}


.recipe-card{
    position: relative;
    width: 25%;
    margin: 0.5rem;
    border-radius: 0.5rem;
    contain: paint;
    cursor: pointer;
}
.recipe-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-card .card-info{
    position: absolute;
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(118, 86, 150, 0.3) 80%, rgba(118, 86, 150, 0));
}
.recipe-card .card-title{
    margin: 0.75rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    filter: drop-shadow(-2px 0 0.25rem black);
}
.recipe-card .card-description{
    margin: 0.75rem 0;
    font-size: 1rem;
    filter: drop-shadow(-2px 0 0.25rem black);
}

.recipe-details{
    height: fit-content;
}
.recipe-details img{
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
}
.recipe-details #recipe-title{
    position: absolute;
    bottom: 0.5rem;
    margin: 0.5rem;
}

.recipe-details .colored-markers li{
    margin: 0.5rem 0;
}
